.searchArea {
    padding: 50px;
}

p {
    margin: 0;
}

body {
    background: rgba(0, 0, 0, 0.021);
}

.card {
    border: none;
    background: white;
    border-radius: 25px;
    padding: 10px 0 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bio {
    text-transform: capitalize;
}

h2,
h3 {
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.danger {
    color: #f6c954;
}

.primary {
    color: #0062ff;
}

.info {
    color: #f6c954;
}

.success {
    color: #289f64;
}


/* Media Query */


/* Media Query for Mobile Devices */

@media (max-width: 480px) {
    .searchArea {
        padding: 5px;
    }
}


/* Media Query for low resolution  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 767px) {
    .searchArea {
        padding: 5px;
        margin-top: 20px;
    }
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
    .searchArea {
        padding: 5px;
        margin-top: 20px;
    }
}


/* Media Query for Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1280px) {}


/* Media Query for Large screens */

@media (min-width: 1281px) {}


/* Loading */

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8) url("loader.gif") center no-repeat;
}


/* Turn off scrollbar when body element has the loading class */

body.loading {
    overflow: hidden;
}


/* Make spinner image visible when body element has the loading class */

body.loading .overlay {
    display: block;
}

table table-striped {
    background: red;
}