<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="instagram d-flex align-items-center justify-content-center" style="height: 45vh;">
        <div class="formbox">
            <h2>Instagram Analytics</h2>
            <form name="myForm" action="{{ url_for('analyst')}}" method="post">
                <div class="input-group mb-3">
                    <input name="fname" type="text" class="form-control" placeholder="Username Instagram" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button onclick="return submitUsername()" class="btn btn-primary" type="submit button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Profile -->
    <div class="profile container d-flex align-items-center justify-content-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{user_image}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{usrname}}</h5>
                        <p class="card-text bio">{{bio}}</p>
                        <a href="{{url}}" style="margin-bottom: 10px;">{{url}}</a>
                        <p class="text-mute">Followers: <span class="badge badge-pill badge-primary">{{followers}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stat -->

    <div id="night">
        <div class="container">
            <div class="row">
                <div class="col-md-3 first">
                    <div class="second">Verified:<br><span class="static text-primary">{{verified}}!</span></div>
                </div>
                <div class="col-md-3 first">
                    <div class="second">Media Count:<br><span class="static text-primary">{{media_count}}</span></div>
                </div>
                <div class="col-md-3 first">
                    <div class="second">Engagement Rate:<br><span class="static text-primary">{{engagement_ig}}</span></div>
                </div>
                <div class="col-md-3 first">
                    <div class="second">Avg Likes Per Post:<br><span class="static text-primary">{{avg_like}}</span></div>
                </div>
            </div>
        </div>
    </div>


    <div class="container tableData login text-center">
        <h1>Last 12 Posts</h1>
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Link</th>
      <th scope="col">Dates</th>
      <th scope="col">Likes</th>
        <th scope="col">Likes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
        <table class="table table-striped">
            <br> {% for table in tables %} {{ table|safe }} {% endfor %}
        </table>

    </div>

</body>
<script src="{{ url_for('static', filename='script.js')}}"></script>
<footer class="text-center text-white" style="background-color: #f1f1f1; margin-top: 35px;">
    <!-- Grid container -->
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">Cretech</a>
    </div>
    <!-- Copyright -->
</footer>

</html>